### project template
.postgres

### JetBrains template
.idea/
*.iws
*.iml
out/
target/

### Java template
*.class
*.log
*.jar
*.war
*.nar
*.ear
*.zip
*.tar.gz
*.rar

hs_err_pid*

### Eclipse template
.DS_Store
.settings
.project
.factorypath
.classpath